In [17]:
import requests
import pandas as pd

In [18]:
import config

In [19]:
data2020 = requests.get(f'https://api.census.gov/data/2019/abscs?get=NAME,GEO_ID,NAICS2017_LABEL,SEX,ETH_GROUP,RACE_GROUP,VET_GROUP,FIRMPDEMP&for=state:*&NAICS2017=00&key={config.apiKey}').json()

In [20]:
companysummarystate2020 = pd.DataFrame(data2020[1:], columns = data2020[0])

In [21]:
companysummarystate2020

,NAME,GEO_ID,NAICS2017_LABEL,SEX,ETH_GROUP,RACE_GROUP,VET_GROUP,FIRMPDEMP,NAICS2017,state
0,Mississippi,0400000US28,Total for all sectors,001,028,00,001,93,00,28
1,Mississippi,0400000US28,Total for all sectors,003,028,00,001,0,00,28
2,Mississippi,0400000US28,Total for all sectors,002,029,50,001,0,00,28
3,Mississippi,0400000US28,Total for all sectors,003,029,50,001,51,00,28
4,Mississippi,0400000US28,Total for all sectors,001,001,60,001,2489,00,28
...,...,...,...,...,...,...,...,...,...,...
9636,Massachusetts,0400000US25,Total for all sectors,002,020,30,001,746,00,25
9637,Massachusetts,0400000US25,Total for all sectors,003,020,30,001,1917,00,25
9638,Massachusetts,0400000US25,Total for all sectors,004,020,30,001,0,00,25
9639,Massachusetts,0400000US25,Total for all sectors,001,028,30,001,447,00,25
9640,Michigan,0400000US26,Total for all sectors,004,001,91,001,0,00,26