In [2]:
import requests
import pandas as pd

In [45]:
state2019 = requests.get('https://api.census.gov/data/2018/abscs?get=NAME,GEO_ID,NAICS2017_LABEL,SEX,ETH_GROUP,RACE_GROUP,VET_GROUP,FIRMPDEMP&for=state:*&NAICS2017=00&key=a4bcb4614372e8f229066cbce694ccdb6b558ef4')

In [47]:
data=state2019.json()

In [48]:
companysummarystate2019 = pd.DataFrame (data[1:], columns= data[0])

In [49]:
companysummarystate2019

,NAME,GEO_ID,NAICS2017_LABEL,SEX,ETH_GROUP,RACE_GROUP,VET_GROUP,FIRMPDEMP,NAICS2017,state
0,Mississippi,0400000US28,Total for all sectors,002,029,00,003,0,00,28
1,Mississippi,0400000US28,Total for all sectors,003,029,00,003,466,00,28
2,Mississippi,0400000US28,Total for all sectors,004,029,00,003,572,00,28
3,Mississippi,0400000US28,Total for all sectors,001,001,30,003,926,00,28
4,Mississippi,0400000US28,Total for all sectors,096,096,96,096,37489,00,28
...,...,...,...,...,...,...,...,...,...,...
9663,Minnesota,0400000US27,Total for all sectors,002,029,00,003,0,00,27
9664,Minnesota,0400000US27,Total for all sectors,003,029,00,003,941,00,27
9665,Minnesota,0400000US27,Total for all sectors,004,029,00,003,0,00,27
9666,Minnesota,0400000US27,Total for all sectors,001,001,30,003,0,00,27
9667,Minnesota,0400000US27,Total for all sectors,096,096,96,096,105997,00,27